/*============================================================================
    #BALANCE
============================================================================= */

/* Balance section styles */

.l-balance {
  margin-top: rem(-128px);
}




/*============================================================================
    #CARDS-LAYOUT
============================================================================= */

/* Cards styles. */

.l-balance .c-card {
  margin-bottom: rem(32px);
  padding: rem(24px) rem(32px);

}





/*============================================================================
    #TRANSACTION
============================================================================= */

/* Transaction section styles */

.l-transaction {
  display: block;
  width: 100%;
  overflow-x: auto;
}