/*============================================================================
    #CONTAINER
============================================================================= */

/* Container styles. */


.c-container {
  width: min(90vw, 800px);
  margin: auto;
}





/*============================================================================
    #BALANCE
============================================================================= */

/* Balance section styles */

.c-balance {
  margin-top: rem(-128px);
}



