/*============================================================================
    #TABLE-ELEMENTS
============================================================================= */

/* Basic table styles. */


table tbody td,
table thead th {
  background-color: $color-logo;
  padding: rem(16px) rem(32px);
}


table thead th {
  text-align: left;
}


table thead tr th:first-child,
table tbody tr th:first-child {
  border-radius: rem(4px) 0 0 rem(4px);
}


table thead tr th:last-child,
table tbody tr th:last-child {
  border-radius: 0 rem(4px)  rem(4px) 0;
}