/*============================================================================
    #BUTTON-ELEMENTS
============================================================================= */

/* Buttons styles */

button {
  width: 100%;
  height: 50px;
  border: none;
  color: $color-logo;
  background-color: $background-card-total;
  padding: 0;
  border-bottom: rem(4px);
  cursor: pointer;

  &:hover {
    background-color: $color-link;
  }
}