/*============================================================================
    #LINKS-ELEMENTS
============================================================================= */

/* Links styles. */

a {
  color: $background-card-total;
  text-decoration: none;

  &:hover {
    color: $color-link;
  }
}