/* ==========================================================================
   #COLORS
   ========================================================================== */


   /* Project color variables */


   $background-page: #F0F2F5;

   $background-header: #2D4A22;

   $background-card-total: #49AA26;

   $color-logo: #FFFFFF;

   $dark-blue: #363F5F;  
