/*============================================================================
    #CARDS-COMPONENTS
============================================================================= */

/* Cards styles. */

.c-card {
  background-color: $color-logo;
  border-radius: rem(4px);
  color: $dark-blue;
}





/* =============================================================================
  Color variants
 =============================================================================*/
.c-card--total {
  background-color: $background-card-total;
  color: $color-logo;
}