/*============================================================================
    #HEADINGS-COMPONENTS
============================================================================= */

/* Advanced headings styles. */


/* H1 */
.c-header__logo {
  color: $color-logo;
}


/* H2 */
.c-balance__title {
  color: $color-logo;
  margin-top: 0;
}


/* H3 */
.c-card__title {
  font-size: rem(16px);
}
