/*============================================================================
    #HEADER
============================================================================= */

/*  Main page header */


.l-header {
  background-color: $background-header;
  padding-top: rem(32px);
  padding-bottom: rem(160px);
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}